html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(183, 182, 206);
}

main {
  margin-left: 30px;
  margin-right: 30px;
}

.margin-top {
  margin-top: 10px;
}



.navLinks {
display: flex;
justify-content: space-around;
align-items: center;

}


h2 {
  padding: 10px;
}

h3 {
  padding: 10px;

}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.navBar ul {
  display: flex;
  justify-content: flex-end;
}

.navBar ul li {
  list-style-type: none;
  padding-left: 0.75rem;
  padding-top: 0.75rem;
  padding-right: 0.75rem;

}

li {
  list-style-type: none;

}



.header {
  background-color: #557A95;
  position: fixed;
  top: 0;
  width: 100%;
}

.input-field input:focus + label {
  color: red !important;
}

 .input-field input:focus {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important
}

.col-12 {
  width: 100%;
}

.col-9 {
  width: 75%;
}

.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%;
}

.proLink {
  padding-left: 10px;
}

p {
  font-size: 1.25rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.contact {
  width: 100%;
}

.contact ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

.contact ul li {
  font-weight: bolder;

}

.bold {
  font-weight: bolder;


}

.contact ul li a {
  color: black
}

.proPic {
  padding: 10px;
  max-height: 40vh;
  float: left;
}

.clearfix {
  overflow: auto;
}


  footer {
    width: 100%;
  }



