* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: url("../images/web-background.jpg");
}

main {
  margin-left: 30px;
  margin-right: 30px;
}

.margin-top{
  margin-top: 10px;
}

h1 {
  padding-top: 10px;
  padding-left: 10px;
  color: black;
}

h2 {
  padding: 10px;
}

.navBar ul {
  display: flex;
  justify-content: flex-end;
}

.navBar ul li {
  list-style-type: none;
  padding: 0.75rem;
  border: black solid 3px;
  background-color: #7395AE;
  border-radius: 15px;
}

li:hover {
  color: black;
}

.header {
  background-color: #557A95;
}

.navBar {
  background-color: #557A95;
}

.about-me {
  /* width: 80%; */
  /* margin-top: 50px; */
  background-color: #7395AE;
  border-radius: 15px;
}

/* .aboutContent {
} */

.formBox {
  margin-top: 50px;
  margin-left: 15px;
}

.my-projects {
  width: 80%;
}

.projectContent {
  background-color: #cccccc;
  display: flex;
  flex-flow: column wrap;
  height: 250px;
  width: 80%;
}

section {
  background-color: #7395AE;
  margin-top: 50px;
  border-radius: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col-12 {
  width: 100%;
}
.col-9 {
  width: 75%;
}
.col-6 {
  width: 50%;
}
.col-3 {
  width: 25%;
}

p {
  font-size: 1.25rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.contact ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: #5d5c61;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

.contact ul li {
  font-weight: bolder;
}

.proPic {
  padding: 10px;
  max-height: 40vh;
  float: left;
}
.clearfix {
  overflow: auto;
}

.project1 {
  width: 50%;
  height: 50%;
  background-size: contain;
  padding: 5px;
}

.project2 {
  width: 50%;
  height: 50%;
  background-size: contain;
  padding: 5px;
}

.project1Div {
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  /* .row {
    display: inherit;
  } */
  .helloMeme {
    display: none;
  }
  /* .resume-link {
  } */
  /* .contact {
    background-color: #14A098;
  } */
  .projectContent p {
    width: 100%;
  }
  .contact {
    display: flex;
    justify-content: space-between;
  }
  .formContainer {
    justify-content: center;
  }
  h1,
  h2,
  h3 {
    text-align: center;
    color: black;
  }
  .aboutContent {
    display: block;
  }
  .navBar ul {
    justify-content: space-evenly;
  }
  .header {
    background-color: cornsilk;
  }
  .header {
    background-color: cornsilk;
  }
}
