* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: url(./Assets/images/data-wallpaper-8.png);
  background-color: #FF4653;
}

main {

  margin-left: 30px;
  margin-right: 30px;

}

h1{

  padding-top: 10px;
  padding-left: 10px;
  color: #F6DADF;
}

.navBar ul {
  display: flex;
  justify-content: flex-end;
}



.navBar ul li {
  list-style-type: none;
  padding: 0.75rem;
  border: black solid 3px;
  background-color: #F6DADF;
  ;
}

li:hover {
  color: black;
}

.header {
  background-color: #9B1B3B
  ;
}

.navBar {
  background-color: #9B1B3B
  ;
}

.about-me {
  width: 80%;
  margin-top: 50px;
  background-color: #9B1B3B
  ;
}

.aboutContent {
  display: flex;
}

.formBox {
  margin-top: 50px;
  margin-left: 15px;

}



.my-projects {
  width: 80%;
}

.projectContent {
  background-color:#CCCCCC;
  display: flex;
  flex-flow: column wrap;
  height: 250px;
  width: 80%;
}

section {
  background-color: #9B1B3B;
  margin-top: 50px;
}



p {
  font-size: 1.25rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.projectContent > p {
  font-size: 1.25rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 40%;
  height: 40%;
}

.row {
  display: flex;
}


.contact ul  {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: #FF4653 ;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

  .contact ul li {
    font-weight: bolder;
  }


  .proPic {
    width: 50%;
    height: 55%;
  background-size: contain;
  border: black double 3px;
  }
  
  
  .project1 {
    width: 50%;
    height: 50%;
  background-size: contain;
  border: black double 3px;
  }
  
  .project2 {
    width: 50%;
    height: 50%;
  background-size: contain;
  border: black double 3px;
  }

  .project1Div {
    justify-content: flex-end;
  }



@media screen and (max-width: 768px) {
  .row {
    display: inherit;
  }
  .helloMeme {
    display: none;
  }
  .resume-link {
    background-color: #14A098;
  }
  .contact {
    background-color: #14A098;
  }
  .projectContent p {
    width: 100%;
  }
  .contact  {
    display: flex;
    justify-content: space-between;
  }
  .formContainer {
    justify-content: center;
  }
  h1,
  h2,
  h3 {
    background-color: #14A098;
    text-align: center;
    color: black;
  }
  .aboutContent {
    display: block;
  }
  .navBar ul {
    justify-content: space-evenly;
  }
  .header {
    background-color: cornsilk;
  }
  .header {
    background-color: cornsilk;
  }
}
